In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from configG import gkey

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2022-04-01 01:33:26,3.0707,172.7902,81.59,77,94,16.15
1,1,Jardim,BR,2022-04-01 01:33:26,-21.4803,-56.1381,57.16,94,100,4.83
2,2,Georgetown,MY,2022-04-01 01:28:36,5.4112,100.3354,84.13,87,20,4.61
3,3,Najran,SA,2022-04-01 01:33:27,17.4924,44.1277,57.85,20,0,1.23
4,4,Ahipara,NZ,2022-04-01 01:30:51,-35.1667,173.1667,72.28,66,100,2.51

In [5]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey)

In [14]:
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))