In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from configG import gkey

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2022-04-01 01:33:26,3.0707,172.7902,81.59,77,94,16.15
1,1,Jardim,BR,2022-04-01 01:33:26,-21.4803,-56.1381,57.16,94,100,4.83
2,2,Georgetown,MY,2022-04-01 01:28:36,5.4112,100.3354,84.13,87,20,4.61
3,3,Najran,SA,2022-04-01 01:33:27,17.4924,44.1277,57.85,20,0,1.23
4,4,Ahipara,NZ,2022-04-01 01:30:51,-35.1667,173.1667,72.28,66,100,2.51

In [3]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey)

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2022-04-01 01:33:26,3.0707,172.7902,81.59,77,94,16.15
2,2,Georgetown,MY,2022-04-01 01:28:36,5.4112,100.3354,84.13,87,20,4.61
8,8,Rikitea,PF,2022-04-01 01:33:28,-23.1203,-134.9692,76.91,69,77,16.87
10,10,Kota Belud,MY,2022-04-01 01:33:29,6.3510,116.4305,85.48,69,54,2.55
15,15,Padang,ID,2022-04-01 01:31:07,-0.9492,100.3543,82.80,57,31,1.36
18,18,Bambous Virieux,MU,2022-04-01 01:33:31,-20.3428,57.7575,78.22,88,75,18.41
23,23,Atuona,PF,2022-04-01 01:33:33,-9.8000,-139.0333,78.78,74,55,8.32
24,24,Kapaa,US,2022-04-01 01:33:33,22.0752,-159.3190,80.58,78,20,14.97
39,39,Busselton,AU,2022-04-01 01:33:38,-33.6500,115.3333,76.89,63,58,12.80
45,45,Champerico,GT,2022-04-01 01:33:40,14.3000,-91.9167,82.31,64,67,5.53

In [21]:
preferred_cities_df.count()

City_ID       162
City          162
Country       162
Date          162
Lat           162
Lng           162
Max Temp      162
Humidity      162
Cloudiness    162
Wind Speed    162
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0        Butaritari      KI     81.59   3.0707  172.7902
2        Georgetown      MY     84.13   5.4112  100.3354
8           Rikitea      PF     76.91 -23.1203 -134.9692
10       Kota Belud      MY     85.48   6.3510  116.4305
15           Padang      ID     82.80  -0.9492  100.3543
18  Bambous Virieux      MU     78.22 -20.3428   57.7575
23           Atuona      PF     78.78  -9.8000 -139.0333
24            Kapaa      US     80.58  22.0752 -159.3190
39        Busselton      AU     76.89 -33.6500  115.3333
45       Champerico      GT     82.31  14.3000  -91.9167

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

In [50]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
# Grab the first hotel from the results and store the name.
try: 
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [51]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Butaritari,KI,81.59,3.0707,172.7902,Isles Sunset Lodge
2,Georgetown,MY,84.13,5.4112,100.3354,Cititel Penang
8,Rikitea,PF,76.91,-23.1203,-134.9692,People ThankYou
10,Kota Belud,MY,85.48,6.3510,116.4305,Tang Dynasty Lodge Kota Belud
15,Padang,ID,82.80,-0.9492,100.3543,Mercure Padang
18,Bambous Virieux,MU,78.22,-20.3428,57.7575,Casa Tia Villa
23,Atuona,PF,78.78,-9.8000,-139.0333,Villa Enata
24,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
39,Busselton,AU,76.89,-33.6500,115.3333,Observatory Guest House
45,Champerico,GT,82.31,14.3000,-91.9167,"Hotel y restaurante ""El Diamante"""

In [53]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [55]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))